<div class="container dark">
  <div class="column">
    <p>Add a todo item</p>
  </div>
  <div class="column">
    <p>Todo List ({{ itemCount }} items)</p>
  </div>
</div>
<div class="container light">
  <div class="column">
    <p class="form-caption">Enter an item to add to</p>
  </div>
  <form>
    <input
      type="text"
      class="regular"
      name="item"
      [(ngModel)]="todoItemText"
      placeholder="Todo Item...."
    />
    <input
      type="submit"
      class="submit"
      value="Add item"
      (click)="addTodoItem()"
    />
  </form>
</div>

<div class="column" *ngFor="let todoItem of todoItems; let i = index">
  {{ todoItem }}
  <button (click)="removeTodoItem(i)">Remove</button>
</div>