.container{
    text-align: center;
    max-width: 80%;
    margin: auto;
    /* border: 20px solid gray; */
    background-color: gray;
    padding: 20px;

}

.nav{
    background-color: aqua;
    padding: 10px;
}

.header{
    background-color: red;
    padding: 0.5rem;
}

.sidebar{
    background-color: blanchedalmond;
    padding: 10px;
}

.content{
    background-color: blueviolet;
    padding: 10px;
}

.footer{
    background-color: brown;
    padding: 10px;
}

@media (max-width: 768px){

}